<h2>Alumno: <%= @alumno_curso.alumno.nombre %></h2>
<br>
<h3>Edad: <%= @alumno_curso.curso.nombre %></h3>


<br>
<%= link_to 'Edit', edit_alumno_curso_path(@alumno_curso) %> |
<%= link_to 'Back', alumno_cursos_path %>
